@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-optima);
}

h1,
.big-title {
  font-size: clamp(1.5rem, calc(1.25rem + 2vw), 3rem);
}

.medium-title {
  font-size: clamp(1rem, calc(1rem + 1.5vw), 2rem);
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-optima);
}

h3.small-title {
  font-size: clamp(1rem, calc(18px + 1vw), 1.2rem);
  font-weight: 700;
}

.emphasis-title {
  /* font-size: clamp(1rem, calc(1rem + 0.8vw), 1.4rem); */
  font-size: calc(var(--font-scale) * clamp(1.5rem, calc(1.25rem + 2vw), 3rem));
  font-weight: 600;
  font-family: var(--font-optima);
}

p,
.text {
  font-size: clamp(0.85rem, calc(12px + 1vw), 1rem);
  line-height: 1.2;
}
.smallText {
  font-size: clamp(0.5rem, calc(0.15rem + 0.85vw), 1rem);
  line-height: 1.2;
}

.xxlarge-title {
  font-size: clamp(2rem, calc(1.8rem + 2vw), 3rem);
  line-height: 1.2;
  font-weight: 700;
}

.Emphasis-text {
  font-size: clamp(1rem, calc(0.6rem + 0.85vw), 1.8rem);
  font-weight: 700;
  line-height: 1.2;
  color: #f9fafb;
  font-family: optima;
}

.Second-Emphasis-Text {
  font-size: clamp(0.85rem, calc(0.5rem + 0.85vw), 1.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: #f9fafb;
  font-family: optima;
}

.session-title-text {
  font-size: calc(0.9 * clamp(1.2rem, calc(0.8rem + 1.5vw), 2rem));
  font-weight: 700;
  line-height: 1.3;
  font-family: optima;
}

.header__logo-bg {
  /* background-image: linear-gradient( */
  /* to bottom,
      rgba(22, 44, 91, 0.5) rgba(22, 44, 91, 0.5)
    )
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZWR1Y2F0aW9ufGVufDB8fDB8fHww"); */
  background-image: linear-gradient(
      to right,
      rgba(22, 44, 91, 0.9),
      rgb(10, 25, 58, 1)
    ),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZWR1Y2F0aW9ufGVufDB8fDB8fHww");
}

.link {
  font-size: clamp(0.75rem, calc(0.5rem + 1vw), 0.825rem);
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: --font-optma, Helvetica, sans-serif;
}

.link:hover,
.link:active {
  color: #a6d8fd;
  transition: ease-in-out 0.3s;
}

.container {
  @media (orientation: landscape) {
    @media (min-width: 768px) {
      width: 80%;
    }
  }
}
.servicesContainer {
  @media (orientation: landscape) {
    @media (min-width: 768px) {
      height: 100vh;
      min-width: 500px;
      min-height: auto;
    }
  }
}

/* Hero Section */
.herosection-landscape {
  @media (orientation: landscape) {
    @media (min-width: 640px) {
      min-height: 450px;
    }
  }
}
.casesSection-landscape {
  @media (orientation: landscape) {
    @media (min-width: 1024px) {
      height: auto;
      min-height: 100vh;
      padding: 40px 0 !important;
    }
  }
}
.clipy::before {
  content: "";
  position: absolute;
  background-color: #a6d8f8;
  bottom: 0px;
  left: -1px;
  width: 100%;
  z-index: 1;
  height: calc(100% + 1px);
  clip-path: polygon(0 0, 0% 100%, 20% 100%);
}

.HeroEducation__banner-bg {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.HeroWork__banner-bg {
  background-image: url("/new/leadership-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.HeroDigital__banner-bg {
  background-image: url("/new/learning.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* end of HeroSection */

/* Herosection */
.Herosection__radial-gradient-bg {
  background: radial-gradient(
    circle,
    rgb(207, 42, 186) 0%,
    rgba(207, 42, 186, 0.5) 30%,
    rgba(207, 42, 186, 0.5) 50%,
    rgba(207, 42, 186, 0.4) 100%
  );
}
.Herosection__radial-gradient-bg-lg {
  background: radial-gradient(
    circle,
    rgb(223, 138, 212) 0%,
    #da9cd2cc 30%,
    rgba(218, 169, 212, 0.7) 50%,
    rgba(218, 185, 213, 0.6) 100%
  );
}
.Herosection__radial-gradient-bg-xl {
  background: radial-gradient(
    circle,
    rgba(218, 185, 213, 0.4) 0%,
    #debbdacc 30%,
    rgba(250, 230, 230, 0.5) 50%,
    rgba(253, 248, 248, 0.5) 100%
  );
}

.clipy-bottom {
  position: absolute;
  bottom: -250px;
  right: -250px;
  background-color: #a6d9f843;
  opacity: 0.5;
  --s: 500px; /* adjust to control the size */
  width: var(--s);
  aspect-ratio: 1;
  --g: /calc(var(--s) * 0.268) calc(var(--s) * 0.268) radial-gradient(
      50% 50%,
      #000 99%,
      #0000 101%
    ) no-repeat;
  mask: calc(50% + var(--s) * 0.223) calc(50% + var(--s) * 0.244) var(--g),
    calc(50% + var(--s) * -0.163) calc(50% + var(--s) * 0.288) var(--g),
    calc(50% + var(--s) * -0.324) calc(50% + var(--s) * -0.066) var(--g),
    calc(50% + var(--s) * -0.037) calc(50% + var(--s) * -0.328) var(--g),
    calc(50% + var(--s) * 0.301) calc(50% + var(--s) * -0.137) var(--g),
    radial-gradient(calc(var(--s) * 0.373), #000 99%, #0000 101%) subtract,
    calc(50% + var(--s) * 0.051) calc(50% + var(--s) * 0.45) var(--g),
    calc(50% + var(--s) * -0.412) calc(50% + var(--s) * 0.187) var(--g),
    calc(50% + var(--s) * -0.306) calc(50% + var(--s) * -0.334) var(--g),
    calc(50% + var(--s) * 0.223) calc(50% + var(--s) * -0.394) var(--g),
    calc(50% + var(--s) * 0.443) calc(50% + var(--s) * 0.09) var(--g);
}

.clipy-top {
  position: absolute;
  left: -250px;
  top: -250px;
  z-index: 2;
  background-color: #a6d9f843;
  opacity: 0.5;

  --s: 500px; /* adjust to control the size */

  width: var(--s);
  aspect-ratio: 1;
  --g: /calc(var(--s) * 0.236) calc(var(--s) * 0.236) radial-gradient(
      50% 50%,
      #000 99%,
      #0000 101%
    ) no-repeat;
  mask: calc(50% + var(--s) * 0.382) calc(50% + var(--s) * 0) var(--g),
    calc(50% + var(--s) * 0.118) calc(50% + var(--s) * 0.363) var(--g),
    calc(50% + var(--s) * -0.309) calc(50% + var(--s) * 0.225) var(--g),
    calc(50% + var(--s) * -0.309) calc(50% + var(--s) * -0.225) var(--g),
    calc(50% + var(--s) * 0.118) calc(50% + var(--s) * -0.363) var(--g),
    radial-gradient(calc(var(--s) * 0.363), #000 99%, #0000 101%) subtract,
    calc(50% + var(--s) * 0.309) calc(50% + var(--s) * 0.225) var(--g),
    calc(50% + var(--s) * -0.118) calc(50% + var(--s) * 0.363) var(--g),
    calc(50% + var(--s) * -0.382) calc(50% + var(--s) * 0) var(--g),
    calc(50% + var(--s) * -0.118) calc(50% + var(--s) * -0.363) var(--g),
    calc(50% + var(--s) * 0.309) calc(50% + var(--s) * -0.225) var(--g);
}

/*  */

.hexagon-big {
  --b: 10px; /* adjust to control the border  */
  height: 200px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(
    50% 0,
    -50% 50%,
    50% 100%,
    150% 50%,
    50% 0,
    50% var(--b),
    calc(100% - var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
    calc(100% - var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
    50% calc(100% - var(--b)),
    calc(var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
    calc(var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
    50% var(--b)
  );
  background: #3b8686;
}
.hexagon-small {
  --b: 10px; /* adjust to control the border  */
  height: 150px; /* adjust to control the size  */
  aspect-ratio: cos(30deg);
  clip-path: polygon(
    50% 0,
    -50% 50%,
    50% 100%,
    150% 50%,
    50% 0,
    50% var(--b),
    calc(100% - var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
    calc(100% - var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
    50% calc(100% - var(--b)),
    calc(var(--b) * sin(60deg)) calc(75% - var(--b) * cos(60deg)),
    calc(var(--b) * sin(60deg)) calc(25% + var(--b) * cos(60deg)),
    50% var(--b)
  );
  background: #3b8686;
}

/* Services page  */

.Services__banner-bg {
  background-image: linear-gradient(
      to right,
      rgba(22, 44, 91, 0.8),
      rgb(10, 25, 58, 0.9)
    ),
    url("/graduation.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service__slider-bg {
  background-image: linear-gradient(
      to right,
      rgba(22, 44, 91, 0.4),
      rgb(10, 25, 58, 0.5)
    ),
    url("/new/couple-relocation.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
/* end of service page style */
.logo-bg {
  background-image: linear-gradient(
      to right,
      rgba(22, 44, 91, 0.8),
      rgb(10, 25, 58, 0.9)
    ),
    url("/graduation.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slides-width {
  @media (min-width: 450px) and (max-width: 668px) {
    width: 70% !important;
  }
}
.slides-width {
  @media (min-width: 669px) and (max-width: 768px) {
    width: 60% !important;
  }
}
/* Make Swiper transitions linear for smoother autoplay */
.smooth-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.testmonial-box {
  @media (min-width: 1024px) and (max-width: 1095px) {
    aspect-ratio: 12/12;
  }
  @media (min-width: 1095px) and (max-width: 1200px) {
    aspect-ratio: 12/10;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    aspect-ratio: 12/10;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    aspect-ratio: 16/18;
  }
  @media (min-width: 1600px) and (max-width: 1800px) {
    aspect-ratio: 16/16;
  }
  @media (min-width: 1800px) and (max-width: 2000px) {
    aspect-ratio: 16/16;
  }
  @media (min-width: 2000px) and (max-width: 2300px) {
    aspect-ratio: 1/0.9;
  }
  @media (min-width: 2300px) and (max-width: 2500px) {
    aspect-ratio: 1/0.8;
  }
  @media (min-width: 2500px) {
    aspect-ratio: 1/0.7;
  }
}

/*  */

.map__container-section {
  @media (orientation: landscape) {
    @media (min-width: 640px) {
      min-height: 500px;
    }
  }
}
